<%- include('partials/header.ejs') %>
<div class="container mt-3">
  <h1 class="text-danger">Error 400!</h1>
  <h2 class="text-danger">Member with id: <%= paramsID %>, is not found</h2>
</div>
<%- include('partials/footer.ejs') %>
