<%- include('partials/header.ejs') %>
<div class="container mt-3">
  <h1 class="text-secondary">home page</h1>
  <p class="text-secondary">Welcome~</p>
  <div class="d-grid gap-2 col-6 mt-4">
    <a role="button" href="/api/members" class="btn btn-outline-secondary"
      >member(s) list</a
    >
    <a role="button" href="/api/members/add" class="btn btn-outline-secondary"
      >add member</a
    >
  </div>
</div>
<%- include('partials/footer.ejs') %>
